body {
	margin-top: 75px; 
}

footer {
	margin: 10px 0;
}

#comment, #comments li {
	margin: 0;
	padding: 0;
}

.panel-default > .panel-heading {
	color:#333;
	background-color: #f5f5f5;
	border-color: #ddd; 
}

#comments li {
	list-style: none;
}

.photo {
	margin-bottom: 10px;
}

.social-bottons button {
	margin-top: 5px;
}

.updatetime {
	border-top-color: #DE203F;
}